@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
    background-color: #f7e9c3;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #fff;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.black {
  color: #131414;
}
/* NAV */

.nav__logo {
  width: 80x;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #131414 !important ;
  padding: 0 20px;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  color: #fff !important ;
  list-style: none;
  width: 100%;
}

.nav__link:hover {
  background-color: orange !important ;
  color: black !important ;
  border-radius: 6px;
  display: inline-block;
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin-left: 50px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.05) !important ;
  display: inline-block;
  border-radius: 6px;
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #131414 !important ;
  color: #fff !important ;
}

.search {
  padding: 6px;
  margin-left: 36px;
  margin-right: ;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  position: relative;
}

.search__btn {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.search__btn:hover {
  background-color: orange;
}

.container {
    background-color: #131414;
}

/* DROPDOWN */

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown *{
    box-sizing: border-box;
}

.select {
    background: #131414;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px orange solid;
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px orange solid;
    box-shadow: 0 0 0 0.8em #orange ;
}

.select:hover {
    background: #fff;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: lightcoral;
    border: 1px #f7e9c3 solid;
    box-shadow: 0 0.5em 1em rgba (0,0,0,0.2);
    border-radius: 0.5em;
    color: aliceblue;
    position: absolute;
    top: 3em;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: orange;
}
.active {
    background: grey;
}

.menu-open {
    display: block;
    opacity: 1;
}




/* RECOMMENDATIONS */

.recommendation {
  margin-top: 48px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}

.movie {
  width: 200px;
  height: 450px;
  position: relative;
  padding: 16px;
  margin: 2rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1) !important ;
  overflow: hidden;
  background-color: white;
}

.movie img {
  width: 100%;
}

.movie__info {
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie__info span {
  background-color: #131414 !important ;
  color: white !important ;
  border-radius: 14px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie__info span.green {
  color: lightgreen;
}

.movie__info span.orange {
  color: orange;
}

.movie__info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 300ms ease;
}

.movie:hover .overview {
  transform: translateY(0);
}

.tag.highlight {
  background-color: orange;
  color: #fff;
}

.no__results {
  color: #fff;
}

/* LATEST MOVIES */

.latest__movies {
  margin-top: 36px;
}


/* PAGINATION */

.pagination{
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: #131414;
}

.page{
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #131414;
    font-size: 20px;
    font-weight: 600;
}

/* Small phones, tablets, large smart phones */

@media (max-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 768px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    font-size: 12px;
  }

  .nav__link {
    margin-right: 12px;
    font-weight: 700;
    width: 55px;
    height: 24px;
  }
  .nav__link:hover {
    width: 55px;
    height: 24px;
      }
  .search {
    border: none;
    font-size: 12px;
  }

  .search__btn {
    display: none;
  }
  .nav__logo {
    width: 60x;
    height: 60px;
}
}

/* Small phones */

@media (max-width: 480px) {
    .nav {
        width: 100%;
        max-width: 480px;
        height: 100px;
        margin: 0 auto;
        padding: .5rem;
        font-size: 12px;
      }
    
      .nav__link {
        margin-right: .5rem;
        font-weight: 700;
        width: 45px;
        height: 24px;
      }
      .nav__link:hover {
        width: 45px;
        height: 24px;
          }

      .search {
        border: none;
        font-size: 12px;
      }
    
      .search__btn {
        display: none;
      }
      .nav__logo {
        width: 50x;
        height: 50px;
    } 

    .h1 {
        font-size: 14px;
    }
}