@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  background-color: #d8d8d8;
}

a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #fff;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.white {
    color: #fff;
}
/* NAV */

.nav__logo {
  width: 80x;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #131414 !important ;
  padding: 0 20px;
}

.nav__links {
  display: flex;
  margin-right: 80px;
  color: #fff !important ;
  list-style: none;
  width: 100%;
}

.nav__link:hover {
  background-color: orange !important ;
  color: black !important ;
  border-radius: 6px;
  display: inline-block;
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin-right: 46px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.05) !important ;
  display: inline-block;
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav__links > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #131414 !important ;
  color: #fff !important ;
}

.search {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  position: relative;
}

.search__btn {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: px;
  background: #fff; 
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: absolute;
}

.search__btn:hover {
    background-color: orange;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  
}

#dropdown__menu {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  
}

.dropdown.active > .nav__links,
.nav__link:hover #dropdown__menu {
  position: absolute;
  display: flex;
  height: 200px;
  width: 400px;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: #242424 !important ;
  color: #fff !important ;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important ;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.dropdown.active > .nav__link + #dropdown__menu {
  pointer-events: auto;
  
}

/* RECOMMENDATIONS */

.recommendation {
  margin-top: 48px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 48px;
}


.movie {
  width: 200px;
  height: 450px;
  position: relative;
  padding: 16px;
  margin: 2rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1)!important ;
  overflow: hidden;
  background-color: white;
}

.movie img {
  width: 100%;
}

.movie__info {
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie__info span {
  background-color: #131414!important ;
  color: white!important ;
  border-radius: 14px;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.movie__info span.green {
  color: lightgreen;
}

.movie__info span.orange {
  color: orange;
}

.movie__info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 300ms ease;
}

.movie:hover .overview {
  transform: translateY(0);
}

.tag.highlight {
    background-color: orange;
    color: #fff;
}

.no__results {
    color: #fff;
}


/* LATEST MOVIES */ 

.latest__movies {
    margin-top: 36px;
}

/* Small phones, tablets, large smart phones */

@media (max-width: 768px) {
    .title {
        font-size: 80px;
    }
    .header__para {
        font-size: 20px;;
    }

    .modal {
        top: 0;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal__half {
        width: 100%;
    }
}

/* Small phones */

@media (max-width: 480px) {
    .title {
        font-size: 52px;
    }
    .header__para {
        font-size: 18px;
    }
    .nav__link:first-child {
        display: none;
    }
    .project__description--para {
        display: none;
    }
    .project__description {
        left: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .project__description--sub-title {
        margin-bottom: 8px;
    }
    .modal__half {
        padding: 40px;
    }
}